.dashboard
  display: flex
  overflow: hidden

  &-main-content
    display: flex
    flex-direction: column
    width: 100%

  &-inner-container
    position: relative

    height: calc(100vh - 6rem)
    width: 100%

    overflow-y: auto

    padding: 0 0.7rem 0.7rem 0.7rem

    > div + div
      margin-top: 2rem

.default-select-period
  @include flex-align-center()

  flex-direction: column

  align-items: start

  > label + label
    margin-top: 1rem

  @media ( min-width: $break-p-sm)
    flex-direction: row
    align-items: center

    > label + label
      margin-top: 0
      margin-left: 1rem
