.dashboard-header
  padding: .7rem

  &-container
    @include flex-align-center()
    
    height: 4.5rem

    padding: 0 1rem

    background-color: $gray-700
    border-radius: 0.4rem

    box-shadow: $shadown-1

  &-profile
    @include flex-align-center()

    margin-left: auto

    > * + *
      margin-left: 1rem

  &-button
    border: 0

    font-size: 1.3rem
    appearance: none
    background-color: transparent
    color: $gray-300
