.container
  width: 100vw
  height: 100vh

  overflow: hidden

  color: $primary-text
  background-color: $primary-color

button[disable]
  opacity: 0.6

button
  cursor: pointer

*
  &::-webkit-scrollbar
    width: 5px
    height: 5px

  &::-webkit-scrollbar-track
    background: transparent

  &::-webkit-scrollbar-thumb
    background: $blue-600
    box-shadow: $neon-blue-100
    border-radius: 0.3rem

.sub-router-container
  position: absolute
  padding: 0.7rem
  inset: 0
  overflow-y: auto

  h2
    font-size: 1.5rem
    border-bottom: 1px solid $gray-500
    padding-bottom: 0.5rem
    margin-bottom: 1.5rem

  > * + *
    margin-top: .7rem
